/* GENERICS */
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 52px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 20px;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 1.7;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

canvas {
  position: fixed;
}

input,
textarea {
  width: 100%;
  height: 40px;
  font-size: 16px;
  background-color: inherit;
  color: white;
  outline: none;
  border: 2px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
  transition: color, border-color 300ms ease;
}

textarea {
  resize: vertical;
  height: 100px;
  min-height: 100px;
  max-height: 260px;
  margin-top: 8px;
}

input:hover,
textarea:hover {
  border-color: white;
}

input:focus,
textarea:focus {
  color: white;
  border-color: #006400;
}

label {
  font-size: 16px;
  font-weight: bold;
}

section {
  background-color: rgb(250, 250, 250);
  transition: background-color 300ms ease;
}

.section__title {
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}

.container {
  width: 100%;
  padding: 52px 0;
}

.row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 48px;
}

.text--green {
  color: #006400;
}

.pointer {
  cursor: pointer;
}

.click {
  transition: transform 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

.link__hover-effect--green:after {
  background-color: #006400;
}

.link__hover-effect--white:after {
  background-color: white;
}

nav,
.scroll,
header {
  opacity: 1;
  visibility: visible;
  transition: opacity 600ms 800ms, visibilty 600ms 800ms;
}

.model--open nav,
.model--open .scroll,
.model--open header {
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms 50ms, visibilty 300ms 50ms;
}

.dark-theme.model--open .model {
  box-shadow: 0 8px 96px 0 rgba(255, 255, 255, 0.55);
}

.dark-theme .project__wrapper {
  box-shadow: 0 16px 96px rgba(255, 255, 255, 0.55);
}

.dark-theme .header__title,
.dark-theme .header__para,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-adjust {
  color: white;
}

.dark-theme section {
  background-color: black;
}

.dark-theme .logo {
  filter: invert(1);
}

.dark-theme .scroll__icon {
  border-color: white;
}

.dark-theme .scroll__icon::after {
  background-color: white;
}

.dark-theme .mail__btn {
  color: black;
  border-color: black;
  background-color: white;
}

/* .wave {
  display: inline-block;
  transition: animate-peace 200ms linear;
}

.wave:after:hover {
  animation-play-state: running;
}

@keyframes animate-peace {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0);
  }
} */

/* NAVIGATION */

.logo__wrapper {
  width: 80px;
}

.logo {
  width: 100%;
  filter: brightness(20%);
  mask: linear-gradient(135deg, #111c 40%, #060606 50%, #111c 60%) 100% 100%/250%
    250%;
  transition: 800ms ease;
}

.logo:hover {
  mask-position: 0 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100px;
}

.nav__link {
  margin: 0 12px;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  position: relative;
  font-size: 20px;
  color: black;
  font-weight: 700;
  transition: color 300ms ease;
}

.nav__link:not(:last-child) .nav__link--anchor:hover {
  color: #006400;
}

.fa-circle-half-stroke {
  font-size: 24px;
}

/* LANDING PAGE */

#landing-page {
  min-height: 100vh;
}

header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
}

.header__title {
  font-size: 80px;
  margin-bottom: 20px;
  text-align: left;
  line-height: 1;
}

.header__para {
  font-size: 24px;
  max-width: 500px;
  line-height: 2;
}

.social__list {
  margin-top: 16px;
  display: flex;
}

.social__link {
  font-size: 24px;
  width: 48px;
  height: 48px;
  background-color: #006400;
  color: white;
  border-radius: 50%;
  padding: 0 8px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 20px;
  height: 32px;
  border: 2px solid black;
  border-radius: 24px;
  display: flex;
  justify-content: center;
}

.scroll__icon::after {
  position: relative;
  top: 4px;
  content: "";
  width: 4px;
  height: 8px;
  background-color: black;
  border-radius: 2px;
  animation: scroll 650ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-1px);
  }
}

/* CONTACT BUTTON */

.mail__btn {
  width: 72px;
  height: 72px;
  font-size: 32px;
  background-color: black;
  color: white;
  border-radius: 50%;
  border: 2px solid rgb(250, 250, 250);
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 2;
}

/* MODEL/CONTACT WINDOW */

.model--open {
  overflow: hidden;
}

.model--open .model {
  z-index: 10;
  box-shadow: 0 8px 96px 0 rgba(0, 0, 0, 0.55);
  visibility: visible;
}

.model {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1024px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1s ease, z-index 1s ease, box-shadow 250ms ease;
}

.model--open .model__about,
.model--open .model__contact {
  transform: translateX(0%);
}

.model__half {
  position: relative;
  width: 50%;
  padding: 0 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 300ms ease-in;
}

.model__about {
  background-color: rgb(250, 250, 250);
  transform: translateX(-110%);
}

.model__title {
  font-weight: 900;
  font-size: 28px;
}

.model__sub-title {
  font-weight: 900;
  font-size: 20px;
  margin: 16px 0 32px 0;
}

.model__para {
  font-size: 16px;
  font-weight: 500;
}

.model__languages {
  width: 100%;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.model__language--wrapper {
  width: 20%;
  padding: 24px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: filter 300ms ease, transform 300ms ease;
}

.model__language--wrapper:hover {
  filter: brightness(80%);
  transform: scale(0.9);
}

.model__language--wrapper:hover .model__language--name {
  transform: scale(1);
}

.model__language--img {
  width: 100%;
}

.model__language--name {
  position: absolute;
  bottom: -8px;
  transform: scale(0);
  transition: transform 300ms ease;
}

.model__contact {
  background-color: black;
  color: white;
  transform: translateX(110%);
}

.form__item {
  margin-bottom: 20px;
}

.form__submit {
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  max-width: 160px;
  padding: 12px 24px;
  background-color: #006400;
  border: 2px solid #006400;
  border-radius: 4px;
  transition: color, border-color, background-color 300ms ease;
}

.form__submit:hover {
  border-color: white;
  background-color: transparent;
}

.form__submit:active {
  border-color: #006400;
  color: #006400;
}

.model__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.model__overlay--loading {
  background-color: blue;
  font-size: 80px;
}

.fa-spinner {
  animation: spinner 800ms infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.model__overlay--success {
  background-color: #006400;
  text-align: center;
  padding: 28px;
}

.model__overlay--visible {
  z-index: 1;
  display: flex;
}

.model__title--success {
  font-size: 54px;
}

.model__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 36px;
  z-index: 2;
}

/* PROJECTS */

.project {
  margin-bottom: 120px;
}

.project:last-child {
  margin-bottom: 60px;
}

.project__wrapper {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 24px 96px rgba(0, 0, 0, 0.8);
}

.project__img {
  width: 100%;
  vertical-align: middle;
  transition: transform 500ms ease, filter 500ms ease;
}

.project__wrapper:hover .project__img {
  transform: scale(1.07);
  filter: blur(3px) brightness(25%);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  color: white;
  max-width: 500px;
  opacity: 0;
  transition: transform 600ms, opacity 500ms;
}

.project__wrapper:hover .project__description {
  transform: translateY(-50%);
  opacity: 1;
}

.project__description--sub-title {
  margin: 8px 0;
}

.project__description--para {
  text-align: justify;
  margin: 24px 0;
}

.project__description--link {
  color: white;
  font-size: 24px;
  margin-right: 16px;
}

/* FOOTER */

footer {
  position: relative;
  background-color: black;
}

footer .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo--img-wrapper {
  width: 120px;
}

.footer__logo--img {
  width: 100%;
  filter: invert(1);
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  margin: 32px 0;
  display: flex;
  justify-content: space-around;
}

.footer__social--link,
.footer__copyright {
  color: white;
}

/* SMALL DESKTOPS, LAPTOPS */
@media (max-width: 1280px) {
  /* Good size, no need to add media query */
}
/* SMALL LAPTOPS, LANDSCAPE TABLETS */
@media (max-width: 1024px) {
  h1 {
    font-size: 48px;
  }

  header {
    max-width: 700px;
  }

  .container {
    padding: 40px 0;
  }

  .row {
    max-width: 740px;
  }

  .header__title {
    font-size: 56px;
  }

  .header__para {
    font-size: 20px;
  }

  .social__link {
    font-size: 20px;
    width: 40px;
    height: 40px;
  }

  .project__description {
    max-width: 400px;
  }

  .project__description--title {
    font-size: 24px;
  }

  .project__description--sub-title {
    font-size: 16px;
  }

  .project__description--para {
    font-size: 12px;
    margin: 16px 0;
  }

  .project__description--link {
    font-size: 20px;
  }
}
/* TABLETS, LANDSCAPE PHONES */
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  label,
  input,
  textarea,
  .form__submit {
    font-size: 12px;
  }

  textarea {
    max-height: 190px;
  }

  header {
    max-width: 590px;
  }

  .container {
    padding: 32px 0;
  }

  .row {
    max-width: 600px;
  }

  .model--open .model__about,
  .model--open .model__contact {
    transform: translateY(0%);
  }

  .model {
    top: 0;
    left: 0;
    margin: 10%;
    width: 80%;
    height: 86%;
    transform: none;
    flex-direction: column;
  }

  .model__half {
    width: 100%;
    height: 100%;
    padding: 28px 56px;
  }

  .model__about {
    height: 70%;
    transform: translateY(-110%);
  }

  .model__contact {
    transform: translateY(110%);
  }

  .model__title {
    font-size: 24px;
  }
  .model__sub-title {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .model__para {
    font-size: 12px;
  }

  .model__languages {
    padding: 0 12px;
  }

  .model__language--wrapper {
    width: 15%;
  }

  .form__item,
  .header__para {
    margin-bottom: 16px;
  }

  .form__submit {
    max-width: 120px;
    padding: 8px 16px;
  }

  .model__exit {
    color: black;
  }

  .header__title {
    font-size: 48px;
  }

  .header__para {
    max-width: 350px;
  }

  .social__link {
    font-size: 16px;
    width: 32px;
    height: 32px;
  }

  .project__description {
    left: 60px;
    max-width: 300px;
  }

  .project__description--title {
    font-size: 20px;
  }

  .project__description--sub-title {
    font-size: 12px;
  }

  .project__description--para {
    font-size: 10px;
    margin: 12px 0;
  }

  .project__description--link {
    font-size: 16px;
  }

  .footer__logo--img-wrapper {
    width: 80px;
  }

  .footer__social--list a,
  .footer__copyright {
    font-size: 12px;
  }

  .footer__social--list {
    margin: 28px 0;
  }
}
/* PHONES, LANDSCAPE SMALL PHONES */
@media (max-width: 640px) {
  h1 {
    font-size: 28px;
  }

  header {
    max-width: 400px;
  }

  .container {
    padding: 24px 0;
  }

  .row {
    max-width: 560px;
  }

  .model__half {
    padding: 20px 32px;
  }

  .model__about {
    height: 60%;
  }

  .model__title {
    font-size: 20px;
  }
  .model__sub-title {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .model__para {
    font-size: 12px;
  }

  .model__languages {
    padding: 0 8px;
  }

  .model__language--wrapper {
    width: 15%;
  }

  .model__language--name {
    font-size: 12px;
  }

  .form__item {
    margin-bottom: 8px;
  }

  .form__submit {
    max-width: 100px;
    padding: 4px 12px;
  }

  .model__exit {
    top: 24px;
    right: 32px;
    font-size: 24px;
  }

  .logo__wrapper {
    width: 60px;
  }

  .nav__link--anchor {
    font-size: 16px;
  }

  .fa-circle-half-stroke {
    font-size: 20px;
  }

  .header__title {
    font-size: 32px;
  }

  .header__para {
    font-size: 16px;
    max-width: 268px;
  }

  .social__link {
    font-size: 16px;
    width: 32px;
    height: 32px;
  }

  .mail__btn {
    width: 52px;
    height: 52px;
    font-size: 20px;
    bottom: 30px;
    right: 30px;
  }

  .project__description {
    left: 40px;
    max-width: 350px;
  }

  .project__description--title {
    font-size: 20px;
  }

  .project__description--sub-title {
    font-size: 16px;
    font-weight: 500;
  }

  .project__description--para {
    font-size: 12px;
    margin: 16px 0;
  }

  .project__description--link {
    font-size: 16px;
  }

  .footer__logo--img-wrapper {
    width: 60px;
  }

  .footer__social--list {
    margin: 20px 0;
  }
}
/* SMALL PHONES, LANDSCAPE TINY PHONES */
@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  header {
    max-width: 324px;
  }

  .container {
    padding: 16px 0;
  }

  .row {
    max-width: 440px;
  }

  .model__half {
    padding: 16px 28px;
  }

  .model__about {
    height: 50%;
  }

  .model__title {
    font-size: 16px;
  }
  .model__sub-title {
    font-size: 12px;
    margin: 12px 0;
  }

  .model__para {
    font-size: 10px;
  }

  .model__languages {
    padding: 0 8px;
  }

  .model__language--wrapper {
    width: 12%;
    padding: 8px 0;
  }

  .model__language--name {
    font-size: 10px;
  }

  .form__item {
    margin-bottom: 8px;
  }

  .form__submit {
    max-width: 100px;
    padding: 4px 12px;
  }

  .model__exit {
    top: 20px;
    right: 28px;
    font-size: 24px;
  }

  .logo__wrapper {
    width: 60px;
  }

  .nav__link--anchor {
    font-size: 16px;
  }

  .fa-circle-half-stroke {
    font-size: 20px;
  }

  .header__title {
    font-size: 24px;
  }

  .header__para {
    font-size: 12px;
    max-width: 200px;
  }

  .social__link {
    font-size: 12px;
    width: 24px;
    height: 24px;
  }

  .mail__btn {
    width: 40px;
    height: 40px;
    font-size: 16px;
    bottom: 20px;
    right: 20px;
  }

  .project__description {
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .project__description--para {
    display: none;
  }

  .project__description--sub-title {
    margin: 12px 0;
  }

  .footer__logo--img-wrapper {
    width: 48px;
  }

  .footer__social--list a,
  .footer__copyright {
    font-size: 8px;
  }

  .footer__social--list {
    margin: 12px 0;
  }

  footer .row {
    max-width: 380px;
  }
}
/* TINY PHONES */
@media (max-width: 320px) {
}
